.biobox {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: white;
  width: 320px;
  padding: 10px 10px 10px 10px;
}

.newsstites {
background-color: pink;
padding: 2px;
margin-right: 10px;
}
.newstitle {
background-color: lightpink;
padding: 2px;
float: left;
margin-right: 10px;
}

.clear {
  clear: left;
}
